@layer components {
    .snap-track {
        --snap-cols: 1;
        --snap-gap: 1rem;
        --snap-size: calc((100% - var(--snap-gap) * (var(--snap-cols) - 1)) / var(--snap-cols));
        position: relative;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: var(--snap-size);
        gap: var(--snap-gap);
        padding-block: 1.5rem;
        overflow-x: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;

        & > * {
            scroll-snap-align: start;
        }
    }
}
