.pagebuilder-stage-wrapper .slideshow-widget {
    background: #F8FAFC;
}
.pagebuilder-stage-wrapper .slideshow-widget .snap-pager {
    align-items: center;
    gap: .75rem;
    min-block-size: 2.75rem;
    padding-block: 1.5rem;
    flex-wrap: wrap;
    display: flex;
}
.pagebuilder-stage-wrapper .slideshow-widget .snap-marker {
    block-size: 1rem;
    inline-size: 1rem;
    border-width: 1px;
    border-color: #45556C;
    border-radius: 1rem;
    flex-shrink: 0;
    transition-property: border-color, background-color;
    transition-duration: .3s;
}
.pagebuilder-stage-wrapper .slideshow-widget .snap-marker[aria-current=true] {
    inline-size: 1.75rem;
    background-color: #1F48C5;
    border-color: #0000;
}

.pagebuilder-stage-wrapper .slideshow-widget .btn {
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: #2E5BDA;
    background-color: #fff;
    color: #020618;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    transition-property: color, background-color, border-color, outline-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    font-weight: 500;
    display: inline-flex;
}
.pagebuilder-stage-wrapper .slideshow-widget .btn:hover {
    border-color: #2E5BDA;
    background-color: #fff;
    color: #040089;
    text-decoration: none;
}
.pagebuilder-stage-wrapper .slideshow-widget .btn-secondary {
    border-color: #2E5BDA;
    background-color: #fff;
    color: #040089;
}
.pagebuilder-stage-wrapper .slideshow-widget .btn-primary {
    border-color: #0000;
    background-color: #1F48C5;
    color: #fff;
}

.pagebuilder-stage-wrapper .slideshow-widget .card {
    border-radius: .5rem;
    padding-block: 2rem;
    padding-inline: 2rem;
    border-width: 1px;
    border-color: #D1D5DC;
    background-color: #fff;
    color: #020618;
    transition-property: color, background-color, border-color, box-shadow, outline-color;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.pagebuilder-stage-wrapper.mobile-viewport .slideshow-widget .md\:flex.hidden,
.pagebuilder-stage-wrapper.mobile-viewport .slideshow-widget .lg\:flex.hidden,
.pagebuilder-stage-wrapper.mobile-viewport .slideshow-widget .xl\:flex.hidden
{
    display: none;
    visibility: hidden;
}
.pagebuilder-stage-wrapper.desktop-viewport .slideshow-widget .md\:flex.hidden,
.pagebuilder-stage-wrapper.desktop-viewport .slideshow-widget .lg\:flex.hidden,
.pagebuilder-stage-wrapper.desktop-viewport .slideshow-widget .xl\:flex.hidden
{
    display: flex;
    visibility: visible;
}
